//$brand-primary: black;
//$brand-success: #A0D468;
@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
$primary-color: black;
.sample { background: $brand-success; }

h1 {
  color: $primary-color;
}

body{
    background-color: #FAFAFA;
}

.dateInput{
    width:300px;
}

.navbar{
    border-style:solid;
    border: none;
    border-bottom: thin solid #000000;
    background-color:rgba(255,255,255,0.9);
}

#logo{
    padding:2em;
    width:auto;
    height:8em;
     -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

div.modal-body{
    margin:2em;
}
.shrink {
    img{
        height:0px !important;
    }
}

.content {
     padding-top:10em;
}
