//$brand-primary: black;
//$brand-success: #A0D468;
@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
$primary-color: black;
.sample { background: $brand-success; }

h1 {
  color: $primary-color;
}

body{
    background-color: #FAFAFA;
}

.dateInput{
    width:300px;
}

.navbar{
    $transition-time: 1s;
    border-style:solid;
    border: none;
    border-bottom: thin solid #000000;
    background-color:rgba(255,255,255,0.9);
    -webkit-transition: background-color $transition-time; /* For Safari 3.1 to 6.0 */
    transition: background-color $transition-time;

    img{
        padding:1em;
        width:auto;
        height:6em;
        -webkit-transition: height $transition-time; /* For Safari 3.1 to 6.0 */
        transition: height $transition-time;
    }
}

div.modal-body{
    margin:2em;
}
.navbar.shrink {
    background-color:rgba(0,0,0,0.9);
    img{
        height:0px;
    }
}

.content {
     padding-top:10em;
}
