//$brand-primary: black;
//$brand-success: #A0D468;
@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
.sample { background: $brand-success; }


$primary-color: black;
h1 {
  color: $primary-color;
}

body{
    background-color: #FAFAFA;
}

.dateInput{
    width:300px;
}

.navbar{
    border-style:solid;
    border: none;
    border-bottom: thin solid #000000;
    background-color:rgba(255,255,255,0.9);
}

#logo{
    padding:2em;
    width:auto;
    height:8em;
}

div.modal-body{
    margin:2em;
}

.shrink{
    background-color:red;
}
.shrink img{
    display:none;
}
