<section data-ng-controller="CalendareventsController">
    <div class="page-header">
        <h1>New Calendarevent</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                  <div class="controls">
                    <label class="control-label" for="name">Name</label>
                      <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>

                      <label class="control-label" for="description">Description</label>
                      <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description">

                      <label class="control-label" for="startDate">Start Date</label>
                      <input type="date" data-ng-model="startDate" max="{{endDate}}" id="startDate" class="form-control dateInput">

                      <label class="control-label" for="endDate">End Date</label>
                      <input type="date" data-ng-disabled="startDate==null" min="{{startDate}}" data-ng-model="endDate" id="endDate" class="form-control dateInput">

                      <label class="control-label" for="address">Address</label>
                      <input type="text" data-ng-model="address" id="address" class="form-control" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
